<div class="cmp mb-3">
  <h2 class="mb-3">Star War</h2>
  <div class="row">
    <nav class="cmp-nav">
      <ul class="nav">
        <li class="nav-item"><a routerLink="./people" class="nav-link btn btn-link me-3">People</a></li>
        <li class="nav-item"><a routerLink="./specie" class="nav-link btn btn-link me-3">Specie</a></li>
        <li class="nav-item"><a routerLink="./planet" class="nav-link btn btn-link me-3">Planet</a></li>
      </ul>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
