.head {
  background-color: rgb(50, 158, 144);
  color: aliceblue;
  padding: 8px 0px;
}
.head .nav-link, .title{
  color: var(--white)!important;
}
// ้.title {
//   cursor: pointer;
//   margin: auto;
// }
// .cmp-nav-first {
//   color: white;
// }
// .cmp-nav-first > ul {
//   display: block;
//   list-style: none;
//   & > li {
//     display: inline-block;
//     padding: 0px 20px;
//     & > a {
//       list-style: none;
//       text-decoration: none;
//       color: rgb(255, 255, 255);
//     }
//   }
// }


