
  <button type="button" (click)="onAdd()" class="add-input">
    <mat-icon>add</mat-icon> Input
  </button>

<div>
  <ng-container *ngFor="let item of items; let i = index">
    <div class="input">
      <label class="input-no">
        <b>Input {{ i + 1 }}</b>
        <app-example-input-container
          [value]="item.value"
          (update)="onUpdate(i, $event)"
        ></app-example-input-container>
      </label>

        <button
          type="button"
          (click)="onDelete(i)"
          [disabled]="items?.length === 1"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>

    </div>
  </ng-container>
</div>
<!-- ที่ใส่ ? เพราะ items return ค่า null-->
